#container {
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 430px;
    height: 520px;
    border-radius: 10px;
    padding: 50px 35px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(11px);
    color: white;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: flex;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;
    background-color: rgb(38 38 38);
    color: white;
}

form * {
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #fff;
    color: black;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
}

.red-shape {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: -100px;
    left: -80px;
}

.blue-shape {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    position: relative;
    top: 330px;
    left: 350px;
}