.container {
    position: absolute;
    top: 2em;
    right: 2em;
    bottom: 2em;
    left: 2em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 16px 18px 24px 0 rgba(34, 60, 80, 0.6);
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    grid-template-areas:
    "head head"
    "menu content"
    "footer footer";
}

.element {
    color: white;
    border: 2px solid #df3a3a;
    border-radius: 0.5em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: head;
}

.menu {
    grid-area: menu;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

@media screen and (max-width: 300px){
    .wrapper {
        grid-template-areas:
            "head head"
            "menu menu"
            "content content"
            "footer footer";
    }
}